[submodule "saveAsset/lib/forge-std"]
	path = saveAsset/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "SaveEther/lib/forge-std"]
	path = SaveEther/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Todo/lib/forge-std"]
	path = Todo/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "SchoolManagement/lib/forge-std"]
	path = SchoolManagement/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
